<app-robot></app-robot>

<div class="table" style="margin-top: 148px">

    <div style="margin: 0;" class="row w-100 h-100">

        <!-- Slot 18 -->
        <app-slot class="h-100 p-0" style="width: 70px; margin-right: 20px;" [slotNumber]="18"
            [slot]="initialStateTable!.getSlots()[0]" [table]="initialStateTable">
        </app-slot>

        <!-- Slot 17 -->
        <app-slot class="h-100 p-0" style="width: 70px; margin-right: 20px;" [slotNumber]="17"
            [slot]="initialStateTable!.getSlots()[1]" [table]="initialStateTable"></app-slot>

        <!-- Slot 16 -->
        <app-slot class="h-100 p-0" style="width: 70px; margin-right: 20px;" [slotNumber]="16"
            [slot]="initialStateTable!.getSlots()[2]" [table]="initialStateTable"></app-slot>

        <!-- Slot 15 -->
        <app-slot class="h-100 p-0" style="width: 70px; margin-right: 20px;" [slotNumber]="15"
            [slot]="initialStateTable!.getSlots()[3]" [table]="initialStateTable"></app-slot>

        <!-- Slot 14 -->
        <app-slot class="h-100 p-0" style="width: 70px; margin-right: 20px;" [slotNumber]="14"
            [slot]="initialStateTable!.getSlots()[4]" [table]="initialStateTable"></app-slot>

        <!-- Slot 13 -->
        <app-slot class="h-100 p-0" style="width: 70px; margin-right: 20px;" [slotNumber]="13"
            [slot]="initialStateTable!.getSlots()[5]" [table]="initialStateTable"></app-slot>

        <!-- Slot 12 -->
        <app-slot class="h-100 p-0" style="width: 70px; margin-right: 20px;" [slotNumber]="12"
            [slot]="initialStateTable!.getSlots()[6]" [table]="initialStateTable"></app-slot>

        <!-- Slot 11 -->
        <app-slot class="h-100 p-0" style="width: 70px; margin-right: 20px;" [slotNumber]="11"
            [slot]="initialStateTable!.getSlots()[7]" [table]="initialStateTable"></app-slot>

        <!-- Slot 10 -->
        <app-slot class="h-100 p-0" style="width: 70px; margin-right: 20px;" [slotNumber]="10"
            [slot]="initialStateTable!.getSlots()[8]" [table]="initialStateTable"></app-slot>

        <!-- Slot 9 -->
        <app-slot class="h-100 p-0" style="width: 70px; margin-right: 20px;" [slotNumber]="9"
            [slot]="initialStateTable!.getSlots()[9]" [table]="initialStateTable"></app-slot>

        <!-- Slot 8 -->
        <app-slot class="h-100 p-0" style="width: 70px; margin-right: 20px;" [slotNumber]="8"
            [slot]="initialStateTable!.getSlots()[10]" [table]="initialStateTable"></app-slot>

        <!-- Slot 7 -->
        <app-slot class="h-100 p-0" style="width: 70px; margin-right: 20px;" [slotNumber]="7"
            [slot]="initialStateTable!.getSlots()[11]" [table]="initialStateTable"></app-slot>

        <!-- Slot 6 -->
        <app-slot class="h-100 p-0" style="width: 70px; margin-right: 20px;" [slotNumber]="6"
            [slot]="initialStateTable!.getSlots()[12]" [table]="initialStateTable"></app-slot>

        <!-- Slot 5 -->
        <app-slot class="h-100 p-0" style="width: 70px; margin-right: 20px;" [slotNumber]="5"
            [slot]="initialStateTable!.getSlots()[13]" [table]="initialStateTable"></app-slot>

        <!-- Slot 4 -->
        <app-slot class="h-100 p-0" style="width: 70px; margin-right: 20px;" [slotNumber]="4"
            [slot]="initialStateTable!.getSlots()[14]" [table]="initialStateTable"></app-slot>

        <!-- Slot 3 -->
        <app-slot class="h-100 p-0" style="width: 70px; margin-right: 20px;" [slotNumber]="3"
            [slot]="initialStateTable!.getSlots()[15]" [table]="initialStateTable"></app-slot>

        <!-- Slot 2 -->
        <app-slot class="h-100 p-0" style="width: 70px; margin-right: 20px;" [slotNumber]="2"
            [slot]="initialStateTable!.getSlots()[16]" [table]="initialStateTable"></app-slot>

        <!-- Slot 1 -->
        <app-slot class="h-100 p-0" style="width: 70px; margin-right: 20px;" [slotNumber]="1"
            [slot]="initialStateTable!.getSlots()[17]" [table]="initialStateTable"></app-slot>

    </div>

</div>