<!-- Arm -->
<div class="arm-container">

    <!-- Horizontal Sub Arm -->
    <div class="sub-arm horizontal-arm pos-abs" id="horizontalSubArm">
    </div>

    <!-- Vertical Sub Arm -->
    <div class="sub-arm vertical-arm pos-abs" id="finguresSubArm">

        <!-- Fingures Sub Arm -->
        <div class="sub-arm pos-abs" style="top: 0;" id="fingures">

            <!-- Right Top Horizontal Sub Fingure -->
            <div class="sub-arm pos-abs top-horizontal-sub-fingure right-top-horizontal-sub-fingure">

            </div>

            <!-- Left Top Horizontal Sub Fingure -->
            <div class="sub-arm pos-abs top-horizontal-sub-fingure left-top-horizontal-sub-fingure">

            </div>

            <!-- Right Vertical Sub Fingure -->
            <div class="sub-arm pos-abs vertical-sub-fingure right-horizontal-sub-fingure">

            </div>

            <!-- Left Vertical Sub Fingure -->
            <div class="sub-arm pos-abs vertical-sub-fingure left-horizontal-sub-fingure">

            </div>

            <!-- Right Bottom Horizontal Sub Fingure -->
            <div class="sub-arm pos-abs bottom-horizontal-sub-fingure right-bottom-horizontal-sub-fingure">

            </div>

            <!-- Left Bottom Horizontal Sub Fingure -->
            <div class="sub-arm pos-abs bottom-horizontal-sub-fingure left-bottom-horizontal-sub-fingure">

            </div>

            <!-- Right Top Sub Right Fingure -->
            <div class="sub-arm pos-abs sub-sub-fingure" id="right-top-sub-right-fingure">

            </div>

            <!-- Right Bottom Sub Right Fingure -->
            <div class="sub-arm pos-abs sub-sub-fingure" id="right-bottom-sub-right-fingure">

            </div>

            <!-- Left Top Sub Left Fingure -->
            <div class="sub-arm pos-abs sub-sub-fingure" id="left-top-sub-left-fingure">

            </div>

            <!-- Left Bottom Sub Left Fingure -->
            <div class="sub-arm pos-abs sub-sub-fingure" id="left-bottom-sub-left-fingure">

            </div>

        </div>

    </div>

</div>