<h3 class="title text-center">Goal State</h3>

<div class="table">

    <div style="margin: 0;" class="row w-100 h-100">

        <!-- Goal Slot 18 -->
        <app-goal-slot class="h-100 p-0 hide-borders" [canEditCubes]="false" [slot]="table.getSlots()[0]"
            [table]="table">
        </app-goal-slot>

        <!-- Goal Slot 17 -->
        <app-goal-slot class="h-100 p-0 hide-borders" [canEditCubes]="false" [slot]="table.getSlots()[1]"
            [table]="table">
        </app-goal-slot>

        <!-- Goal Slot 16 -->
        <app-goal-slot class="h-100 p-0" [slotNumber]="16" [slot]="table.getSlots()[2]" [table]="table">
        </app-goal-slot>

        <!-- Goal Slot 15 -->
        <app-goal-slot class="h-100 p-0" [slotNumber]="15" [slot]="table.getSlots()[3]" [table]="table">
        </app-goal-slot>

        <!-- Goal Slot 14 -->
        <app-goal-slot class="h-100 p-0" [slotNumber]="14" [slot]="table.getSlots()[4]" [table]="table">
        </app-goal-slot>

        <!-- Goal Slot 13 -->
        <app-goal-slot class="h-100 p-0" [slotNumber]="13" [slot]="table.getSlots()[5]" [table]="table">
        </app-goal-slot>

        <!-- Goal Slot 12 -->
        <app-goal-slot class="h-100 p-0" [slotNumber]="12" [slot]="table.getSlots()[6]" [table]="table">
        </app-goal-slot>

        <!-- Goal Slot 11 -->
        <app-goal-slot class="h-100 p-0" [slotNumber]="11" [slot]="table.getSlots()[7]" [table]="table">
        </app-goal-slot>

        <!-- Goal Slot 10 -->
        <app-goal-slot class="h-100 p-0" [slotNumber]="10" [slot]="table.getSlots()[8]" [table]="table">
        </app-goal-slot>

        <!-- Goal Slot 9 -->
        <app-goal-slot class="h-100 p-0" [slotNumber]="9" [slot]="table.getSlots()[9]" [table]="table">
        </app-goal-slot>

        <!-- Goal Slot 8 -->
        <app-goal-slot class="h-100 p-0" [slotNumber]="8" [slot]="table.getSlots()[10]" [table]="table">
        </app-goal-slot>

        <!-- Goal Slot 7 -->
        <app-goal-slot class="h-100 p-0" [slotNumber]="7" [slot]="table.getSlots()[11]" [table]="table">
        </app-goal-slot>

        <!-- Goal Slot 6 -->
        <app-goal-slot class="h-100 p-0" [slotNumber]="6" [slot]="table.getSlots()[12]" [table]="table">
        </app-goal-slot>

        <!-- Goal Slot 5 -->
        <app-goal-slot class="h-100 p-0" [slotNumber]="5" [slot]="table.getSlots()[13]" [table]="table">
        </app-goal-slot>

        <!-- Goal Slot 4 -->
        <app-goal-slot class="h-100 p-0" [slotNumber]="4" [slot]="table.getSlots()[14]" [table]="table">
        </app-goal-slot>

        <!-- Goal Slot 3 -->
        <app-goal-slot class="h-100 p-0" [slotNumber]="3" [slot]="table.getSlots()[15]" [table]="table">
        </app-goal-slot>

        <!-- Goal Slot 2 -->
        <app-goal-slot class="h-100 p-0" [slotNumber]="2" [slot]="table.getSlots()[16]" [table]="table">
        </app-goal-slot>

        <!-- Goal Slot 1 -->
        <app-goal-slot class="h-100 p-0 hide-borders" [canEditCubes]="false" [slot]="table.getSlots()[17]"
            [table]="table">
        </app-goal-slot>

    </div>

</div>

<button id="submitGoalState" class="submit-goal-state-btn d-block mx-auto disabled" (click)="submitGoalState()">Submit
    Goal State</button>